body{
    margin: 0;
    background-color: white;
}


.container{
    display: flex;
    flex-direction: column;
}

body * {
    display: flex;
    justify-content: center;
}

.ecran {
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.ecran1{
    background-image: url("header-background.jpg");
    background-size: cover;

}

.texteAccueil{
    flex: 11;
    margin: 30px;
    flex-direction: column;
}

.titreAccueil{
    align-items: center;
    color: white;
    font: bold 3em Verdana;
}

button{

    font : bold 2em Verdana ;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    margin-top: 30px;

}


.AccueilBarNav {
    background-color: #333;
    height: 5vh;
    position: sticky;
    top: 0;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0 1vh;
    text-decoration: none;
    font: bold 1.2em Verdana;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    color: orangered;
}


.ecran2{
    background-color: dodgerblue;
}

.articleAPropos1{
    flex: 1;
    background-color: #2b2b2b;
}

.sectionValeurs{
    flex: 1;
    background-color: #2b2b2b;
    flex-direction: column;
}

.sectionObjectifs{
    flex: 1;
    background-color: #2b2b2b;
    flex-direction: column;
}

.sectionPassions{
    flex: 1;
    background-color: #2b2b2b;
    flex-direction: column;
}

.titreSectionAPropos1{
    flex: 2;
    align-items: center;
    color: white;
    font: bold 3em Verdana;
}

.texteSectionAPropos1{
    flex: 3;
    text-align: center;
    color: #7a7a7a;
    font: bold 1em Verdana;
    margin: 30px;
}
.articleAPropos2 img{
    display: flex;
    width: 500px;
    height: 500px;
}
.articleAPropos2{
    flex: 1;
    background-color: #2b2b2b;
}

.photoCV{
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photoCV img{
    height: 70%;
    width: 70%;
    flex-direction: column;
}

.sectionQuiSuisJe{
    flex: 3;
    background-color: #2b2b2b;
    flex-direction: column;
    margin: 10px;
}

.DIV2221{
    flex: 2;
    background-color: #2b2b2b;
    flex-direction: column;
}

.DIV2222{
    flex: 5;
    background-color: #2b2b2b;
    flex-direction: column;
}

.titreSectionAPropos2{
    flex: 2;
    align-items: center;
    color: white;
    font: bold 2em Verdana;
}

.texteSectionAPropos2{
    flex: 2;
    justify-content: center;
    text-align: center;
    color: #7a7a7a;
    font: bold 0.8em Verdana;
    margin-top: 5px;
}

.DIV22221{
    flex: 1;
    align-items: center;
    justify-content: center;
}

.DIV22222{
    flex: 1;
    align-items: center;
    justify-content: center;
}

.DIV222211{
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DIV222212{
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DIV222221{
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DIV222222{
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ecran3{
background-color: white;
}

.sectionCompetences{
    flex: 3;

}

.divCV{
    flex: 2;
    flex-direction: column;
}

.navCompetences{
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.navCompetencesDev{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tProgress{
    align-items: center;
    color: black;
    font: bold 2em Verdana;
}

.progressbar{
    background-color: black;
    border-radius: 15px;
    padding: 2px;
    width: 70%;
    margin-top: -30px;
    justify-content: flex-start;
}

.progressbar div{
    background-color: gray;
    height: 20px;
    border-radius: 15px;
    justify-content: center;

}

.progressbar1{
    width: 90%;
    align-items: center;
    color: white;
    font: bold 1.2em Verdana;
}
.progressbar2{
    width: 75%;
    align-items: center;
    color: white;
    font: bold 1.2em Verdana;
}
.progressbar3{
    width: 60%;
    align-items: center;
    color: white;
    font: bold 1.2em Verdana;
}
.progressbar4{
    width: 20%;
    align-items: center;
    color: white;
    font: bold 1.2em Verdana;
}
.titreEcran3{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font: bold 3em Verdana;
}

.texteEcran3{
    flex: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7a7a7a;
    font: bold 1.2em Verdana;
    margin: 30px;
}

.boutonContacter button{
    align-items: center;
    margin-bottom: 50px;
    background-color: #444444;
    color: white;
    padding: 10px;
}

.boutonTelechargerCV button{
    align-items: center;
    margin-bottom: 50px;
    background-color: #444444;
    color: white;
    padding: 10px;
}

.ecran4{
    background-color: white;
}

.articleFormations{
    flex: 1;

}

.sectionFormations{
    flex: 1;
    flex-direction: column;
    background-color: #2b2b2b;
}

.sectionDateFormations{
    flex: 1;
    flex-direction: column;
    background-color: #2b2b2b;
}

.DateFormations{
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.titreEcran42{
    flex: 1;
    text-align: center;
    align-items: center;
    color: black;
    font: bold 3em Verdana;
}

.titreEcran41{
    flex: 1;
    text-align: center;
    align-items: center;
    color: white;
    font: bold 3em Verdana;
}

.titreNavEcran42{
    flex: 1;
    align-items: center;
    justify-content: center;
    color: black;
    font: bold 2em Verdana;
}

.titreNavEcran41{
    flex: 1;
    align-items: center;
    justify-content: center;
    color: white;
    font: bold 2em Verdana;
}

.texteEcran4{
    flex: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7a7a7a;
    font: bold 1.2em Verdana;
}

.texteNavEcran4{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7a7a7a;
    font: bold 1.1em Verdana;
    margin-bottom: 10px;
}


.articleExperiences{
    flex: 1;
}

.sectionExperiences{
    flex: 1;
    flex-direction: column;
}

.sectionDateExperiences{
    flex: 1;
    flex-direction: column;
}

.DateExperiences{
    flex: 1;
    flex-direction: column;
}


.ecran5{
    background-color: white;
}

.articleTemoignages{
    background-color: #2b2b2b;
    flex: 2;
    flex-direction: column;
}

.articlePortfolio{
    flex: 2;
    flex-direction: column;
}

.articleImagePortfolio{
    flex: 3;
    flex-wrap: wrap;
    flex-direction: column;
}

.articleImagePortfolio1{
    flex: 1;
    margin-bottom:10px ;
    justify-content: space-evenly;
}

.articleImagePortfolio2{
    flex: 1;
    justify-content: space-evenly;
}

.titreEcran51{
    flex: 1;
    align-items: center;
    justify-content: center;
    color: white;
    font: bold 3em Verdana;
}

.titreEcran52{
    flex: 1;
    align-items: center;
    justify-content: center;
    color: black;
    font: bold 3em Verdana;
}

.texteEcran5{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7a7a7a;
    font: bold 1.1em Verdana;
    margin-bottom: 30px;
}

.ecran6{
    background-color: #2b2b2b;
}

.titreEcran6{
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font: bold 3em Verdana;
}

.texteEcran6{
    flex: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7a7a7a;
    font: bold 1.1em Verdana;
    margin-bottom: 30px;
}

.articleContactezMoi{
    flex: 8;
}

.sectionContactezMoi{
    flex: 1;
    flex-direction: column;
}

.sectionFormulaire{
    flex: 1;
}

.articleFooter{
    flex: 2;
}

.sectionFormulaire{
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

fieldset{
    flex-direction: column;
    margin-top: 30px;
    width: 30vw;
    border: none;
}

form{
    flex: 1;
}

#nom{
    flex: 1;
    color: white;
    font: bold 1.3em Verdana;
    margin-bottom: 30px;
    background-color: #444444;

}

#email{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font: bold 1.3em Verdana;
    margin-bottom: 30px;
    background-color: #444444;
}

#message{
    flex: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font: bold 1.3em Verdana;
    background-color: #444444;
    margin-bottom: 30px;

}

.boutonEnvoyer{
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
}

label{
    flex: 1;
    justify-content: left;
    color: white;
    font: bold 2em Verdana;
}

.texteNavEcran6{
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #7a7a7a;
    font: bold 1.1em Verdana;
    margin-bottom: 30px;
}

@media (max-width: 1400px) {
    .ecran{
        flex: 2;
    }

    .articleAPropos1{
        flex-wrap: wrap;
    }

    .photoCV{
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .photoCV img{
        height: 20%;
        width: 20%;
    }

    .articleAPropos2{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .sectionCompetences{
        flex-wrap: wrap;
    }

    .sectionFormations{
        flex-wrap: wrap;
    }

    .articleFormations{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .articleExperiences{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .articleContactezMoi{
        flex-wrap: wrap;
        flex-direction: column;
    }


}

@media (max-width: 950px) {
    .articleImagePortfolio1{
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .articleImagePortfolio2{
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    li{
        font: bold 0.8em Verdana;
    }
}

@media (max-width: 672px) {

    li{
        font: bold 0.5em Verdana;
    }
}